<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirige todas las solicitudes a la aplicación Next.js
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>
